.navigation {
  padding: 0 8px;
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
}
.navigation ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
  font-weight: 500;
}
.navigation ul a {
  text-decoration: none;
  list-style: none;
  border: 1px solid blanchedalmond;
  /* background-color: aqua; */
}
a:link,
a:visited {
  background-color: white;
  color: black;
  border: 2px solid blanchedalmond;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}

a:hover,
a:active {
  background-color: blanchedalmond;
  color: rgb(43, 18, 18);
}
